/* Complex selectors that might cause parsing issues */

div > p + .class:hover::before {
  content: "Complex selector";
}

input[type="text"]:focus:not([disabled]):not([readonly]) {
  border-color: blue;
}

.article > h1:first-child + p:last-of-type ~ .footnote {
  font-size: 0.8em;
}

button[data-toggle][aria-expanded="true"]:not(.collapsed) {
  background: green;
}

/* Very complex nested selectors */
.main-content .article:nth-child(2n+1) .title:hover::after,
.sidebar .widget > ul > li.active > a:focus {
  color: red;
}

/* Selector with many combinators */
body > header nav ul li a:hover {
  text-decoration: underline;
}

/* Complex attribute selectors */
input[type="text"][name*="user"][data-validation][required] {
  border: 2px solid red;
}





